<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <!-- 设定页面使用的字符集 -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <!-- 用于设定禁止浏览器从本地机的缓存中调阅页面内容，设定后一旦离开网页就无法从Cache中再调出 -->
    <meta http-equiv="pragma" content="no-cache"/>
    <!-- 清除缓存 -->
    <meta http-equiv="cache-control" content="no-cache"/>
    <!-- 设定网页的到期时间 -->
    <meta http-equiv="expires" content="0"/>

    <script src="./vue/vue.global.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./vant/lib/index.css">
    <!-- 引入组件库 -->
    <script src="./vant/lib/vant.min.js"></script>
    <style>

        

        .hh{
            background-image: url("1.png");
            height: 100vh;
            width: 100vw;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
<div id="app" class="hh">

    <van-form @submit="onSubmit" style="padding-top: 50vh;">
        <van-field
          v-model="state.username"
          name="用户名"
          label="用户名"
          placeholder="用户名"
          :rules="[{ required: true, message: '请填写账号' }]" ></van-field>
        <van-field
          v-model="state.password"
          type="password"
          name="密码"
          label="密码"
          placeholder="密码"
          :rules="[{ required: true, message: '请填写密码' }]" ></van-field>
        <div style="margin: 16px;">
          <van-button round block type="info" native-type="submit">登录</van-button>
        </div>
    </van-form>

    
    
</div>
</body>
<script>
const main_app = {
    setup() {

        state = Vue.reactive({
            username: '',
            password: ''
        })


		
		function onSubmit (values) {
		    console.log('submit',values);
		}

		return{
			state,onSubmit
		}
	}
};
const app = Vue.createApp(main_app).use(vant);
app.mount('#app');
</script>
</html>
